#div_buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.buttons_row_div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

button {
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0px solid black;
}

button#updateUserBtn {
    background-color: rgb(232, 82, 202);
    color: #fff;
}

button#updateUserBtn:hover {
    background-color: #a7289a;
}

button#deleteUserBtn {
    background-color: rgb(232, 82, 82);
    color: #fff;
}

button#deleteUserBtn:hover {
    background-color: #a72828;
}


button#getListBtn {
    background-color: #ffd000;
    color: #fff;
}

button#getListBtn:hover {
    background-color: #b3a400;
}

button#addUserBtn {
    background-color: rgb(97, 202, 123);
    color: #fff;
}

button#addUserBtn:hover {
    background-color: #28a752;
}

button#findUserBtn {
    background-color: rgb(97, 137, 202);
    color: #fff;
}

button#findUserBtn:hover {
    background-color: #2855a7;
}

